.selling-div{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.flw-btn{
    padding-left: 36px !important ;
    padding-right: 36px !important ;
    padding-top: 9px !important ;
    padding-bottom: 9px !important ;
}