#blogGrid_imageCont {
    padding: 30px 0;
    overflow-x: hidden;
}

.blogGrid_productTitle {
    width: 230px;
}

.blogGrid_productDate {
    height: 50px;
    padding: 8px 15px 8px 15px;
    display: flex;
    align-items: end;
}

.blogGrid_productTitleCont {
    padding: 5px 15px 15px 15px;
}

@media (max-width: 768px) {
    #blogGrid_imageCont {
        padding: 20px 0;
    }

    .blogGrid_productTitle {
        width: 150px;
    }

    .blogGrid_productDate {
        padding: 6px 15px;
    }
}