@media screen and (max-width: 492px) {
    .abc {
        width: 100% !important;
        flex-direction: column !important;
        align-items: center !important;
        overflow-y: scroll !important;
       
        
    }
    .ab {
        width:100% !important; 
        margin: 0;
        padding: 0;
        
    }
    .image-side {
        width: 100% !important;
        height: 300px !important;
    }
    .information-side {
        width: 100% !important;
        padding: 10px !important;
    }
    .suggestion {
        opacity: 0 !important;
        width: 0 !important;
    }
}
@media screen and (max-width: 492px) {
    .create-post-container {
        margin-top: 100px !important;
        
        width: 100% !important;
        height: auto !important;
    }
    .create-post-header {
        width: 100% !important;
        padding: 10px !important;
    }
    .upload-box {
        width: 100% !important;
        padding: 10px !important;
    }
    .create-post-paragraph {
        font-size: 1.5rem !important;
    }
}
