#artist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rich-text {
    font-size: 15px;
    color: #7A7B7D;
}

.rich-text p {
    margin: 5px 0;
}

.rich-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #252525;
}

.rich-text h2 {
    font-size: 20px;
    font-weight: 700;
    color: #252525;
    margin: 30px 0 5px 0;
}

.rich-text h2:first-child {
    margin-top: 0px;
}

.rich-text h3 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-top: 8px;
}

.rich-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: #444444;
}

.rich-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}

.rich-text h6 {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}

.rich-text strong {
    font-weight: 700;
}

.rich-text ol {
    margin-left: 30px;
    list-style-type: decimal;
}

.rich-text ul {
    margin-left: 30px;
    list-style-type: disc;
}

.rich-text li {
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    #artist-image {
        width: 70px;
        height: 70px;
    }

    #blog_tocSticky {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .rich-text h2 {
        font-size: 18px;
    }
}