.jobRoles-text h2 {
    font-size: 20px;
    color: #48372D;
}
.jobRoles-text ul {
    list-style-type: disc;
    padding: 0;
    margin: 5px 0 0 20px;
}
.jobRoles-text ul li {
    font-size: 15px;
    margin-bottom: 5px;
}